<template>
    <tr>
        <td>{{this.newItem.id}}</td>
        <td class="td_title" @mouseleave="isShown=false" @mouseover="isShown=true">
            {{this.newItem.title}}
            <div class="icons" style="cursor: pointer" v-if="isShown">
                <i class="far fa-copy" @click="copyLink"></i>
                <a :href="this.newItem.client_link" target="_blank"><i
                        class="fa fa-external-link-alt"></i></a>
            </div>
        </td>
        <td>{{this.newItem.publish_date}} <i v-if="this.newItem.is_future_publication" class="far fa-clock"></i></td>
        <td>
            <b-dropdown aria-role="list">
                <p class="fa fa-circle circle_icon" style="cursor: pointer"
                   :class="{'active':this.newItem.status === 1, 'moderation': this.newItem.status === 2}" slot="trigger"
                   role="button"></p>
                <b-dropdown-item aria-role="listitem" @click="updateStatus(1)">Включен</b-dropdown-item>
                <b-dropdown-item aria-role="listitem" @click="updateStatus(0)">Выключен</b-dropdown-item>
                <b-dropdown-item aria-role="listitem" @click="updateStatus(2)">Модерация</b-dropdown-item>
            </b-dropdown>
        </td>
        <td>
            <b-dropdown aria-role="list">
                <p class="fa fa-cog" style="cursor: pointer" slot="trigger" role="button"></p>
                <b-dropdown-item aria-role="listitem" @click="openUpdateForm">
                    Изменить
                </b-dropdown-item>
                <b-dropdown-item aria-role="listitem" @click="copyNew">Копировать</b-dropdown-item>
                <b-dropdown-item aria-role="listitem" @click="deleteNew">Удалить</b-dropdown-item>
            </b-dropdown>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "NewItemComponent",
        props: ['newItem', 'createRoute'],
        data() {
            return {
                isShown: false
            }
        },
        methods: {
            /**
             * Open update form
             */
            openUpdateForm() {
                window.location.replace(this.createRoute + '/' + this.newItem.id);
            },
            /**
             * Update status
             * @param status
             */
            updateStatus(status) {
                this.axios.patch('/api/v1/news/' + this.newItem.id, {status: status}).then(() => {
                    this.newItem.status = status;
                    this.$root.showToast('is-success', 'Статус обновлен!');
                }).catch((error) => {
                    this.$root.showToast('is-danger', error.response.data.message);
                });
            },
            /**
             * Delete new
             */
            deleteNew() {
                this.axios.delete('/api/v1/news/' + this.newItem.id).then(() => {
                    this.$emit('deleted');
                });
            },
            /**
             * Copy link
             */
            copyLink() {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val(this.newItem.client_link).select();
                document.execCommand("copy");
                this.$root.showToast('is-success', 'Скопировано!');
            },
            /**
             * Copy new entity
             */
            copyNew() {
                this.axios.post('/api/v1/news/' + this.newItem.id + '/copy').then(() => {
                    this.$emit('copied');
                }).catch((error) => {
                    this.$root.showToast('is-danger', error.response.data.message);
                });
            }
        }
    }
</script>

<style scoped>

    .icons .fa {
        color: black;
    }

    .circle_icon {
        color: red !important;
    }

    .active {
        color: green !important;
    }

    .moderation {
        color: orange !important;
    }

    .icons {
        display: inline-block;
        margin-left: 5px;
    }

    .dropdown-menu {
        padding: 0 !important;
    }

    .td_title {
        cursor: pointer;
    }
</style>
