<template>
    <div class="card">
        <div class="card-header">
            <span class="card_title">Новости</span>
            <div class="col-4">
                <input type="text" class="form-control" @input="fetchNews(search.page)" v-model="search.title"
                       placeholder="Поиск">
            </div>
            <a :href="this.createRoute" class="btn btn-default btn-create"> Добавить</a>
        </div>
        <div class="card-body">
            <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Заголовок</th>
                    <th>Опубликовано</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
                <new-item v-on:copied="fetchNews" v-on:deleted="fetchNews(search.page)" v-for="newItem in news"
                          :key="newItem.id"
                          :new-item.sync="newItem"
                          :create-route="createRoute"></new-item>
            </table>
            <div class="card card-body mt-4">
                <div class="columns">
                    <div class="column is-full" v-if="typeof this.pagination !== 'undefined'">
                        <b-pagination
                                :total="pagination.total"
                                :current.sync="pagination.current_page"
                                :simple="false"
                                :rounded="false"
                                :per-page="pagination.per_page"
                                @change="fetchNews"
                                aria-next-label="Следующая страница"
                                aria-previous-label="Предыдущая страница"
                                aria-page-label="Страница"
                                icon-pack="fas"
                                aria-current-label="Текущая страница">
                        </b-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import NewItem from './parts/NewItemComponent'

    export default {
        name: "NewsIndexComponent",
        props: ['createRoute'],
        components: {
            'new-item': NewItem
        },
        data() {
            return {
                isLoading: true,
                news: [],
                search: {
                    page: 1,
                    title: '',
                },
                pagination: {
                    total: 1,
                    count: 1,
                    current_page: 1,
                    per_page: 15,
                    total_pages: 1
                }
            }
        },
        mounted() {
            this.fetchNews();
        },
        methods: {
            /**
             * Fetch news
             * @param page
             */
            fetchNews(page = 1) {
                this.search.page = page;
                this.axios.get('/api/v1/news', {
                    params: {
                        page: page,
                        title: this.search.title
                    }
                }).then((response => {
                    this.news = response.data.data;
                    this.pagination = response.data.meta;
                    this.isLoading = false
                })).catch((error) => {
                    this.$root.showToast('is-danger', error.response.data.message);
                });
            },
        }
    }
</script>

<style scoped>
    .btn-create {
        border: 1px solid black;
        position: absolute;
        right: 10px;
        top: 12px;
    }

    .card_title {
        padding-top: 6px;
    }
</style>
