<template>
    <div class="card">
        <div class="card-header">
            {{title}}
            <a :href="this.indexRoute" class="btn btn-default btn-back"> Вернутся</a>
        </div>
        <div class="card-body">
            <div class="column is-full">
                <div class="form-group">
                    <label for="title">Заголовок</label>
                    <input type="text" id="title" class="form-control" v-model="form.title" required>
                    <strong class="text-danger">{{ errors.first('title') }}</strong>
                </div>
            </div>
            <div class="column is-full">
                <div class="form-group">
                    <label for="publish_date">Дата публикации</label>
                    <datetime id="publish_date" input-class="form-control" type="datetime"
                              v-model="form.publish_date"></datetime>
                    <strong class="text-danger">{{ errors.first('publish_date') }}</strong>
                </div>
            </div>
            <div class="column is-full">
                <vue-editor :editorToolbar="customToolbar"
                            v-model="form.content"></vue-editor>
                <strong class="text-danger">{{ errors.first('content') }}</strong>
            </div>
            <div class="column is-full">
                <div class="field">
                    <b-checkbox v-model="form.status" true-value="1" false-value="0">
                        Активна
                    </b-checkbox>
                </div>
                <strong class="text-danger">{{ errors.first('status') }}</strong>
            </div>

            <div class="column is-full">
                <file-manager :files.sync="filesPreview" :file-ids.sync="form.file_ids"></file-manager>
            </div>

            <div class="column is-full">
                <b-dropdown aria-role="list" style="float:right;">
                    <button class="button is-success btn-block" slot="trigger">
                        <span>Сохранить</span> <i class="fa fa-caret-down"></i>
                    </button>

                    <b-dropdown-item aria-role="listitem" @click="submitForm(2)">и добавить</b-dropdown-item>
                    <b-dropdown-item aria-role="listitem" @click="submitForm(1)">и вернутся</b-dropdown-item>
                </b-dropdown>
            </div>
        </div>
    </div>
</template>

<script>
    import {Datetime} from 'vue-datetime';
    import 'vue-datetime/dist/vue-datetime.css';
    import {VueEditor} from "vue2-editor";
    import ManagerInput from '../../../js/components/fileManager/ManagerInputComponent';
    import moment from 'moment';

    export default {
        name: "NewsFormComponent",
        props: ['newModel', 'title', 'indexRoute', 'files', 'createRoute'],
        components: {
            'datetime': Datetime,
            'vue-editor': VueEditor,
            'file-manager': ManagerInput,
        },
        data() {
            return {
                filesPreview: [],
                model: null,
                form: {
                    title: null,
                    publish_date: null,
                    content: null,
                    status: null,
                    file_ids: []
                },
                customToolbar: [
                    ["bold", "italic", "underline"],
                    [{list: "ordered"}, {list: "bullet"}],
                ]
            }
        },
        mounted() {
            if (this.newModel) {
                this.model = JSON.parse(this.newModel);
                this.form = {
                    title: this.model.title,
                    publish_date: this.model.publish_date,
                    content: this.model.content,
                    status: this.model.status,
                    file_ids: []
                };
            }

            if (this.files) {
                JSON.parse(this.files).forEach(function (fileData) {
                    this.filesPreview.push(fileData.file);
                    this.form.file_ids.push(fileData.file.id);
                }.bind(this))
            }
        },
        methods: {
            /**
             * Submit form
             */
            submitForm(type) {
                this.model === null ? this.createNew(type) : this.update(type);
            },
            /**
             * Create new
             * @param type
             */
            createNew(type) {
                this.axios.post('/api/v1/news', this.getData()).then(() => {
                    window.location.replace(type === 1 ? this.indexRoute : this.createRoute);
                }).catch((error) => {
                    if (error.response.status === 422) {
                        this.errors.clear();
                        $.each(error.response.data.errors, function (field, errors) {
                            this.errors.add({field: field, msg: errors[0]});
                        }.bind(this));
                    } else {
                        this.$root.showToast('is-danger', error.response.data.message);
                    }
                });
            },
            /**
             * Update new
             * @param type
             */
            update(type) {
                this.axios.put('/api/v1/news/' + this.model.id, this.getData()).then(() => {
                    window.location.replace(type === 1 ? this.indexRoute : this.createRoute);
                }).catch((error) => {
                    if (error.response.status === 422) {
                        this.errors.clear();
                        $.each(error.response.data.errors, function (field, errors) {
                            this.errors.add({field: field, msg: errors[0]});
                        }.bind(this));
                    } else {
                        this.$root.showToast('is-danger', error.response.data.message);
                    }
                });
            },
            /**
             * Get data for request
             * @returns {{file_ids: Array, title: null, publish_date: string, content: null, status: null}}
             */
            getData() {
                return {
                    title: this.form.title,
                    publish_date: moment(this.form.publish_date).format('YYYY-MM-DD HH:mm'),
                    status: this.form.status,
                    content: this.form.content,
                    file_ids: this.form.file_ids
                }
            }
        }
    }
</script>

<style scoped>
    .btn-back {
        border: 1px solid black;
        position: absolute;
        right: 10px;
        top: 6px;
    }

    .vdatetime-input {
        width: 100%;
        border: none;
    }
</style>
